Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  glance-eventlet-ssl-handshake-broken-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-py35-full-devstack-plugin-ceph: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$

Guard __getattr__ on QuotaImageTagsProxy
  glance/quota/__init__.py
  glance/tests/unit/test_quota.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update show_multiple_locations deprecation note
  glance/common/config.py
  releasenotes/notes/deprecate-show-multiple-location-continued-646f91b21cd771f7.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make QuotaImageTagsProxy deep-copyable
  glance/quota/__init__.py
  glance/tests/unit/test_quota.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use renamed template 'integrated-gate-py3'
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Correct typo in config option choices
  etc/glance-image-import.conf.sample
  glance/async_/flows/plugins/image_conversion.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Correct typo in config option choices
  etc/glance-image-import.conf.sample
  glance/async/flows/plugins/image_conversion.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Image conversion fails
  glance/async/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update "Disallowed minor code changes" doc
  doc/source/contributor/minor-code-changes.rst
Due: none

Removed glancecachemanage.rst and updated header.txt.
  doc/source/cli/glancecachemanage.rst
  doc/source/cli/header.txt
Due: none

Open Stein for data migrations
  glance/db/migration.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add test for data migration version
  glance/tests/unit/test_data_migration_version.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Mitigate OSSN-0075
  glance/cmd/manage.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix DeprecationWarnings for RequestContext.tenant/user usage
  glance/api/common.py
  glance/api/v2/image_data.py
  glance/context.py
  glance/notifier.py
  glance/registry/client/v1/api.py
  glance/tests/functional/db/base.py
  glance/tests/functional/v2/registry_data_api.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/fixtures.py
  glance/tests/unit/test_context_middleware.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_tasks_resource.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

add python 3.7 unit test job
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add an oslo.policy.enforcer entrypoint
  glance/api/policy.py
  setup.cfg
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add new 'all' visibility filter for listing images
  glance/api/v2/images.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
  glance/tests/unit/test_db.py
  releasenotes/notes/add-all-visibility-image-filter-ea2f3948ff778fe3.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add cache-manage utility using v2 API
  glance/api/middleware/cache_manage.py
  glance/api/v2/cached_images.py
  glance/cmd/cache_manage.py
  glance/common/auth.py
  glance/image_cache/client.py
  glance/tests/unit/api/middleware/test_cache_manage.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add job definition locations in comment
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Failure in web-dowload kept image in importing state
  glance/async_/flows/_internal_plugins/web_download.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Document fileystem drv chunk size option
  doc/source/configuration/configuring.rst
Due: none

Clarify the Glance/metadefs relationship
  doc/source/index.rst
Due: none

py3: Fix return type on CooperativeReader.read
  glance/common/utils.py
  glance/tests/unit/common/test_utils.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/es/LC_MESSAGES/glance.po
  glance/locale/fr/LC_MESSAGES/glance.po
  glance/locale/it/LC_MESSAGES/glance.po
  glance/locale/ja/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  glance/locale/pt_BR/LC_MESSAGES/glance.po
  glance/locale/ru/LC_MESSAGES/glance.po
  glance/locale/tr_TR/LC_MESSAGES/glance.po
  glance/locale/zh_CN/LC_MESSAGES/glance.po
  glance/locale/zh_TW/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Migrate glance-dsvm-grenade-multinode job to Ubuntu Bionic
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update requirement platform checks
  doc/requirements.txt
  test-requirements.txt
Due: glance-eventlet-ssl-handshake-broken-py35

glance Windows support
  glance/async_/flows/convert.py
  glance/async_/flows/ovf_process.py
  glance/cmd/api.py
  glance/cmd/registry.py
  glance/cmd/scrubber.py
  glance/common/wsgi.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/unit/async_/flows/test_convert.py
  lower-constraints.txt
  releasenotes/notes/windows-support-f4aae61681dba569.yaml
  requirements.txt
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Allow glance tests to run on Windows
  glance/registry/client/v2/api.py
  glance/tests/__init__.py
  glance/tests/functional/__init__.py
  glance/tests/functional/db/base.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/test_cache_middleware.py
  glance/tests/functional/test_client_exceptions.py
  glance/tests/functional/test_logging.py
  glance/tests/functional/test_sqlite.py
  glance/tests/functional/test_wsgi.py
  glance/tests/functional/v2/test_images.py
  glance/tests/integration/v2/base.py
  glance/tests/unit/async_/flows/test_import.py
  glance/tests/unit/base.py
  glance/tests/unit/common/test_wsgi.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_registry_client.py
  glance/tests/utils.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Windows multiprocess wsgi
  glance/cmd/api.py
  glance/cmd/registry.py
  glance/common/wsgi.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Data remains in staging area if 'file' store is not enabled
  glance/api/v2/image_data.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Data remains in staging area if 'file' store is not enabled
  glance/api/v2/image_data.py
  glance/async/flows/api_image_import.py
  glance/tests/unit/async/flows/test_web_download.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add description to common image properties
  doc/source/user/common-image-properties.rst
  etc/schema-image.json
  releasenotes/notes/add-description-common-image-property-95ab1139d41579d2.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update irrelevant files
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Stein example configs refresh
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-registry.conf
  etc/glance-scrubber.conf
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add Stein releasenotes
  releasenotes/notes/Stein-reno-rc1-0a03f8394934a2e7.yaml
Due: none

Add irrelevant-files for integrated test jobs
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update .gitreview for stable/stein
  .gitreview
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: glance-eventlet-ssl-handshake-broken-py35

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none
