Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

glance-eventlet-ssl-handshake-broken-py35:
  parent: tox
  description: 'See https://bugs.launchpad.net/glance/+bug/1482633
  
    '
  vars:
    tox_envlist: broken-py35-ssl-tests

legacy-tempest-dsvm-full-devstack-plugin-ceph:
  voting: false

add python 3.6 unit test job
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Cleanup .zuul.yaml
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Provision to add new config options in sample config file
  etc/oslo-config-generator/glance-api.conf
  glance/opts.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use new devstack-plugin-ceph job
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

fix "it's" typos
  doc/source/user/glancemetadefcatalogapi.rst
Due: none

fix a typo in docstring
  api-ref/source/v2/discovery.inc
Due: none

Do not use oslo.messaging 9.0.0
  requirements.txt
Due: glance-eventlet-ssl-handshake-broken-py35

Replace openSUSE experimental check with newer version
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Do not use Accept.best_match
  glance/common/wsgi.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Refactor periodic "tips" jobs
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Use tempest-pg-full
  .zuul.yaml
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fixed intermittent timeout/failing functional tests
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images.py
  glance/tests/utils.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Document os_shutdown_timeout image property
  doc/source/admin/useful-image-properties.rst
Due: none

Update config.py
  glance/common/config.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove moxstubout usage
  glance/tests/stubs.py
  glance/tests/unit/base.py
  glance/tests/utils.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

py3: fix recursion issue under py37
  glance/domain/__init__.py
  tox.ini
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Make the link to release notes anonymous
  README.rst
Due: none

Embed validation data in locations
  glance/api/v2/images.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Update http with https
  HACKING.rst
Due: none

Imported Translations from Zanata
  glance/locale/ko_KR/LC_MESSAGES/glance.po
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing ws seperator between words
  glance/common/wsgi.py
  glance/notifier.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

[doc] Fix options group for default_backend
  doc/source/admin/multistores.rst
Due: none

Add definition for hw_time_hpet image property
  doc/source/admin/useful-image-properties.rst
Due: none

Update mailinglist from dev to discuss
  doc/source/contributor/blueprints.rst
  setup.cfg
Due: glance-eventlet-ssl-handshake-broken-py35

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove i18n.enable_lazy() call from glance.cmd
  glance/cmd/__init__.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Drop dependency on monotonic
  glance/common/timeutils.py
  lower-constraints.txt
  requirements.txt
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Implement scaffolding for upgrade checks
  doc/source/cli/glancestatus.rst
  glance/cmd/status.py
  lower-constraints.txt
  releasenotes/notes/bp-upgrade-checks-b3272c3ddb4e8cf7.yaml
  requirements.txt
  setup.cfg
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Image conversion fails
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix for FK constraint violation
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
Due: glance-eventlet-ssl-handshake-broken-py35, legacy-tempest-dsvm-full-devstack-plugin-ceph, tempest-full, neutron-grenade, legacy-tempest-dsvm-py35-full-devstack-plugin-ceph, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  glance-eventlet-ssl-handshake-broken-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-full-devstack-plugin-ceph: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-py35-full-devstack-plugin-ceph: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
